<div class="container">
  <div class="page">
    <div class="header">
      <p>Create a post</p>
    </div>
    <hr>
    <form #create="ngForm" (ngSubmit)="createTopic()">
      <div class="community">
        <mat-label>Choose a community</mat-label>
        <mat-select [(ngModel)]="createTopicModel.communityId" required #communityId="ngModel"
                    name="communityId">
          <mat-option *ngFor="let c of communities" [value]="c.id">
            {{c.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="communityId.touched && communityId.invalid">Please choose a community.</mat-error>
      </div>
      <div class="main">
        <div class="title">
          <textarea maxlength="300" placeholder="Title" class="center" rows="1"
                    name="title" [(ngModel)]="createTopicModel.title"
                    required
                    #title="ngModel"></textarea>
          <p style="margin: 0; color: red; font-size: 14px; padding-top: 2px;"
             *ngIf="title.touched && title.invalid">Title is required.</p>
        </div>
        <div class="text">
          <textarea placeholder="Optional"
                    name="text"
          [(ngModel)]="createTopicModel.text"></textarea>
        </div>
        <hr>
        <div class="send">
          <button type="submit" [disabled]="create.invalid" [style.cursor]="create.invalid ? 'not-allowed' : 'pointer'">Post</button>
        </div>
      </div>
    </form>
  </div>
</div>
