<mat-tab-group animationDuration="0ms">
  <mat-tab label="Posts">
    <div class="container">
      <app-topic-list [topics]="topics" [user]="user" [isUserPage]="true" [isMainPage]="true"></app-topic-list>
      <app-user-profile [user]="user"></app-user-profile>
    </div>
  </mat-tab>
  <mat-tab label="Comments">
    <div class="container">
      <div class="posts">
        <div class="filter">
          <div class="new" (click)="sortNewComments()">
            <span class="material-icons">new_releases</span>
            <p>New</p>
          </div>
          <div class="new" (click)="sortTopComments()">
            <span class="material-icons">star</span>
            <p>Top</p>
          </div>
        </div>
        <div class="userComment" *ngFor="let c of user.commentModels">
          <div class="header">
            <a>{{c.authorName}}</a>
            <p>commented on</p>
            <span><a [routerLink]="['/topic', c.topicId]">{{c.topicName}}</a></span>
            <p>{{c.rating}} points</p>
            <p>{{c.postingDate}}</p>
            <!-- For user only -->
            <div class="edit" *ngIf="us.user.id !== 0 && us.user.id == user.id">
              <span [matMenuTriggerFor]="menu" class="material-icons">more_horiz</span>
              <mat-menu #menu="matMenu">
                <a (click)="startEditing(c)" mat-menu-item>Edit</a>
                <a (click)="deleteComment(c.id)" mat-menu-item>Delete</a>
              </mat-menu>
            </div>
          </div>
          <div class="text" *ngIf="!c.isEditing">
            <p>{{c.text}}</p>
          </div>
          <div class="editing" *ngIf="c.isEditing">
            <textarea [(ngModel)]="updateCommentModel.text"
                      (keydown.enter)="updateComment(c)"
            ></textarea>
          </div>
        </div>
      </div>
      <app-user-profile [user]="user"></app-user-profile>
    </div>
  </mat-tab>
</mat-tab-group>

