<div class="container">
  <app-topic-list [topics]="topics" [isMainPage]="true"></app-topic-list>
  <div class="communities">
    <div class="header">
      <p>Top Communities</p>
      <hr>
    </div>
    <div class="community" *ngFor="let c of communities; let i = index">
        <div class="title">
          <p>{{i + 1}}</p>
          <a [routerLink]="['community', c.id]">{{c.title}}</a>
        </div>
        <div class="join" *ngIf="showJoin(c.id)">
        <a (click)="join(c.id)">Join</a>
      </div>
    </div>
    <div class="viewAll">
      <a routerLink="communities">View All</a>
    </div>
  </div>
</div>
