<div class="colorArea"></div>
<div class="communityTitle">
  <h1>{{community.title}}</h1>
  <a (click)="join()" *ngIf="showJoin()">Join</a>
  <a (click)="leave()" *ngIf="showLeave()">Leave</a>
  <a *ngIf="community.id === us.user.createdCommunityId"
     style="background-color: #701cc7;">Creator</a>
  <a *ngIf="community.id === us.user.moderatedCommunityId &&
            community.id !== us.user.createdCommunityId"
     style="background-color: #701cc7;">Moderator</a>
</div>
<div class="container">
  <app-topic-list [topics]="topics" [community]="community"></app-topic-list>
  <div class="info">
    <div class="about">
      <div class="header">
        <p>About Community</p>
        <span class="material-icons" *ngIf="us.user.createdCommunityId === id"
              routerLink="control"
        >edit</span>
      </div>
      <div class="wrap">
        <div class="title">
          <p>{{community.title}}</p>
        </div>
        <div class="text">
          <p>{{community.about}}</p>
        </div>
        <div class="members">
          <p  *ngIf="us.user.moderatedCommunityId !== id">Members: <span>{{community.membersCount}}</span></p>
          <p  *ngIf="us.user.moderatedCommunityId === id" [routerLink]="['/community/users', community.title, id]">Members: <span>{{community.membersCount}}</span></p>
        </div>
        <hr>
        <div class="created">
          <span class="material-icons">cake</span>
          <p>Created {{community.creationDate}}</p>
        </div>

        <div class="viewAll" *ngIf="us.user.id !== 0">
          <a (click)="router.navigate(['create-topic', id])">Create post</a>
        </div>

      </div>
    </div>
    <div class="about">
      <div class="header">
        <p>{{community.title}} Rules</p>
      </div>
      <div class="rule">
        <mat-expansion-panel *ngFor="let r of community.ruleModels">
          <mat-expansion-panel-header>
            <p>{{r.title}}</p>
          </mat-expansion-panel-header>
          <p>{{r.ruleText}}</p>
        </mat-expansion-panel>
      </div>
    </div>
    <div class="about">
      <div class="header">
        <p>Moderators</p>
      </div>
      <div class="moderators">
        <div class="moderator" *ngFor="let m of community.moderatorModels; let i = index">
          <a [routerLink]="['/user', m.id]">{{m.userName}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
