.container {
  display: grid;
  padding: 2% 20%;
  grid-template-columns: 2fr 1fr;
  grid-gap: 4%;
  scrollbar-base-color: #6e6ee7;
}

.container::-webkit-scrollbar {
  display: none;
}

/* Info */
.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* About */

.container .about {
  background-color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  height: min-content;
  max-width: 350px;
}
mat-expansion-panel p {
  word-wrap: break-word;
}
.about p {
  margin: 0;
}
.about .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  color: white;
  background-color: #6e6ee7;
  padding: 3% 4%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.about .header span {
  cursor: pointer;
  font-size: 20px;
}
.about .wrap {
  padding: 2%;
}

.wrap .title {
  padding-top: 5%;
  padding-bottom: 2%;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.wrap .text {
  text-align: justify;
  margin: 2% 0;
}

.members {
  cursor: pointer;
}
.members span {
  font-weight: 500;
}

.wrap .created {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

/* Color area at the top */
.colorArea {
  height: 60px;
  background-color: #8484d1;
}

/* Community title */
.communityTitle {
  padding: 0 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: #dcdcdc;
}

.communityTitle a {
  text-decoration: none;
  background-color: #6e6ee7;
  border-radius: 15px;
  color: white;
  text-align: center;
  padding: 5px 30px;
  font-weight: 500;
  cursor: pointer;
}

/* Rules */
mat-expansion-panel {
  width: inherit;
  text-overflow: clip;
  text-align: justify;
  font-weight: 500;
}

mat-expansion-panel p {
  font-weight: 400;
  font-size: 16px;
}

mat-expansion-panel-header {
  padding: 0 4%;
}
mat-expansion-panel-header p {
  font-weight: 500;

}

/* Moderators */

.moderators {
  margin: 0 4%;
  font-size: 13px;
  font-weight: 500;
}

.moderator {
  padding: 4% 0;
}

.moderator a {
  text-decoration: none;
  color: black;
}

.moderator a:hover {
  text-decoration: underline;
}

.viewAll {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2%;
  cursor: pointer;
}

.viewAll a{
  text-decoration: none;
  background-color: #6e6ee7;
  border-radius: 15px;
  color: white;
  text-align: center;
  font-weight: 500;
  padding: 2% 0;
}
