<div class="header">
  <p>{{topic.title}}</p>
  <div class="right" (click)="goToPreviousPage()">
    <span class="material-icons">close</span>
    <p>Close</p>
  </div>
</div>

<div class="container">
  <div class="top">
    <p>Update topic <span>{{topic.title}}</span></p>
  </div>
  <form #update="ngForm" (ngSubmit)="updateTopic()">
    <div class="input">
      <label>Title</label>
      <input name="title" [(ngModel)]="updateTopicModel.title"
      required
      #title="ngModel">
    </div>
    <p style="margin: 0; color: red; font-size: 14px; padding-top: 2px;"
       *ngIf="title.touched && title.invalid">Title is required.</p>
    <div class="input">
      <label>Text</label>
      <textarea name="text" [(ngModel)]="updateTopicModel.text"
                required
                #text="ngModel"></textarea>
    </div>
    <p style="margin: 0; color: red; font-size: 14px; padding-top: 2px;"
       *ngIf="text.touched && text.invalid">Text is required.</p>
    <div class="input">
      <button [disabled]="update.invalid">Update</button>
    </div>
  </form>
</div>
