.topics {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.createPost {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1%;
}

.createPost span {
  font-size: 45px;
}

.createPost input {
  width: 100%;
  border: none;
  background-color: #f4f4f4;
  padding: 2% 2%;
  border-radius: 4px;
  font-size: 15px;
}

.createPost input:hover {
  border: 1px solid blue;
}
/* Filter */

.topics .filter {
  display: flex;
  flex-direction: row;
  margin: 1% auto;
  gap: 10px;
  user-select: none;
  width: min-content;
}

.topics .filter p {
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.filter .new {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px;
}

.filter .new:hover{
  background-color: #929292;
}

.topics .topic, .topics .filter, .createPost {
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

/* Topics */

.topics .topic {
  display: grid;
  grid-template-columns: 40px 2fr;
}

.topics .topic:hover {
  border: 1px solid black;
}

.topics .topic a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.topic .rating {
  background-color: #cdcdcd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  user-select: none;
}

.rating .material-icons {
  font-size: 30px;
  cursor: pointer;
}
.topic .rating p {
  margin-top: -2px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 500;
}

.rating .material-icons:hover {
  font-weight: 600;
}

.topic .content {
  display: flex;
  flex-direction: column;
  padding: 2% 2%;
}

.content .header {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content .header span {
  font-size: 15px;
}

.header .postInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.header .postInfo a{
  font-weight: 500;
}

.header .postInfo a:hover{
  text-decoration: underline;
}

.header .postInfo p{
  margin: 0;
}

.header .join a {
  background-color: #6e6ee7;
  border-radius: 15px;
  color: white;
  text-align: center;
  padding: 5px 15px;
  font-weight: 500;
}

.content .title {
  text-align: justify;
  font-size: 20px;
  font-weight: 500;
  margin-top: 1%;
}

.content .title p{
  margin: 1% 0;
}

.content .comments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1%;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.comments .comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.comments .comment:hover {
  border-radius: 4px;
  background-color: #dfdddd;
}

.comments .comment a {
  padding: 3% 0;
}

.join {
  cursor: pointer;
}
