<div class="topics">

  <!-- For authorized only-->
  <div class="createPost" *ngIf="us.user.id !== 0 && !isUserPage"
       (click)="router.navigate(['create-topic', community.id == undefined ? 0 : community.id])">
    <span class="material-icons">article</span>
    <input placeholder="Create post">
  </div>

  <div class="filter">
    <div class="new" (click)="sortNew()">
      <span class="material-icons">new_releases</span>
      <p>New</p>
    </div>
    <div class="new" (click)="sortTop()">
      <span class="material-icons">star</span>
      <p>Top</p>
    </div>
  </div>
  <div class="topic" *ngFor="let t of topics | topicsFilter:search">
    <div class="rating">
      <a (click)="increase(t)"><span class="material-icons">keyboard_arrow_up</span></a>
      <p>{{t.rating}}</p>
      <a (click)="decrease(t)"><span class="material-icons">keyboard_arrow_down</span></a>
    </div>
    <div class="content" [style.padding]="isUserPage ? '1%' : '2%'">
      <div class="header">
        <div class="postInfo">
          <a *ngIf="isMainPage" [routerLink]="['/community', t.communityId ]">{{t.communityName}}</a>
          <p>Posted by <a [routerLink]="['/user', t.authorId ]">{{t.authorName}}</a> {{t.postingDate}}</p>
        </div>
        <span *ngIf="!isMainPage && t.isPinned && !isUserPage" class="material-icons">push_pin</span>
        <div class="join" *ngIf="showJoin(t.communityId)">
          <a (click)="join(t.communityId)">Join</a>
        </div>
      </div>
      <div class="title">
        <a [routerLink]="['/topic', t.id]">{{t.title}}</a>
      </div>
      <div class="comments">
        <div class="comment">
          <span class="material-icons">question_answer</span>
          <a [routerLink]="['/topic', t.id]">{{t.commentsCount}} Comments</a>
        </div>
        <!-- For moderator -->
        <div class="edit" *ngIf="!isMainPage && us.user.moderatedCommunityId == community.id">
          <span [matMenuTriggerFor]="menu" class="material-icons">more_horiz</span>
          <mat-menu #menu="matMenu">
            <a [routerLink]="['/update-topic', t.id]" mat-menu-item>Edit</a>
            <button *ngIf="!t.isPinned" (click)="pin(t)" mat-menu-item>Pin</button>
            <button *ngIf="t.isPinned" (click)="unpin(t)" mat-menu-item>Unpin</button>
            <button (click)="deleteTopic(t.id)" mat-menu-item>Delete</button>
          </mat-menu>
        </div>
        <!-- For user only -->
        <div class="edit" *ngIf="us.user.id !== 0 && us.user.id == user.id">
          <span [matMenuTriggerFor]="menu" class="material-icons">more_horiz</span>
          <mat-menu #menu="matMenu">
            <a [routerLink]="['/update-topic', t.id]" mat-menu-item>Edit</a>
            <a (click)="deleteTopic(t.id)" mat-menu-item>Delete</a>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
